includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - backend/config
    - backend/public
    - backend/src
    - backend/tests
  ignoreErrors:
    - '#Call to an undefined method#'
    - '#Using nullsafe property access on non-nullable type#'
    - '#Call to method getName\(\) of internal class Doctrine\\DBAL\\Schema\\AbstractAsset#'
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
