includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - config
    - public
    - src
  ignoreErrors:
    - '#Call to an undefined method#'
    - '#Using nullsafe property access on non-nullable type#'
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
