name: Repository label configuration

on:
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  create-labels:
    name: Create/update GitHub labels
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v4

      - name: Creates or updates labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          skip-delete: false
